<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Elliott's Recipes</title>
</head>
<body>
  <h1>Welcome to my recipe site!</h1>
  <p>Here you will find a collection of my favorite recipes.</p>
  <a href="/recipes">See Recipe List</a>
</body>
</html>
